:root {
    --color-white: #e1e1e6;
    --color-blackFundo: #121214;
    --color-blackHeader: #202024;
    --color-roxoRocket: #8257e6;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: var(--color-blackFundo);
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    background: var(--color-blackHeader);
    padding: 30px;
    display: flex;
    align-items: center;
}

header img {
    width: 180px;
    height: 50px;
    margin-right: 265px;
}


header a{
    text-decoration: none;
    font-size: 18px;
    color: var(--color-white);
    font-weight: bold;
    cursor: pointer;
    padding: 30px;
}

header a:hover {
    color: white;
    transition: color 200ms;
}